@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Mis libros</h1>
    <p class="lead">Podrás ver los libros que posea y consultarlos.</p>
    @Html.ActionLink("Mis libros", "Libros", "Home", null, new { @class = "btn btn-info btn-lg" })
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Añade un libro</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit aenean facilisi erat, tellus suscipit diam malesuada nisi sagittis pharetra fermentum integer, scelerisque interdum tincidunt sem penatibus imperdiet vehicula est urna. Euismod dis pretium sodales netus sagittis hendrerit non torquent, aenean pharetra enim turpis vel faucibus dignissim, lacus ut accumsan potenti mauris dui primis. Cubilia netus augue iaculis mi odio commodo praesent cras, quam aptent facilisis cum est enim aenean.

            Eget dignissim dapibus felis elementum accumsan rutrum natoque molestie taciti tortor, laoreet porttitor justo purus augue hac ac maecenas imperdiet massa, risus etiam consequat varius leo tincidunt nulla venenatis montes. Fusce vitae pretium lobortis quisque feugiat mus proin, tincidunt lacus ut aliquam dapibus ultrices semper scelerisque, imperdiet dictumst netus pellentesque aenean nulla. Semper suspendisse sociosqu quam ornare venenatis ultrices luctus, cubilia hac blandit vestibulum massa senectus, elementum dictumst ut turpis auctor natoque.
        </p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Consultar un libro</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit aenean facilisi erat, tellus suscipit diam malesuada nisi sagittis pharetra fermentum integer, scelerisque interdum tincidunt sem penatibus imperdiet vehicula est urna. Euismod dis pretium sodales netus sagittis hendrerit non torquent, aenean pharetra enim turpis vel faucibus dignissim, lacus ut accumsan potenti mauris dui primis. Cubilia netus augue iaculis mi odio commodo praesent cras, quam aptent facilisis cum est enim aenean.

            Eget dignissim dapibus felis elementum accumsan rutrum natoque molestie taciti tortor, laoreet porttitor justo purus augue hac ac maecenas imperdiet massa, risus etiam consequat varius leo tincidunt nulla venenatis montes. Fusce vitae pretium lobortis quisque feugiat mus proin, tincidunt lacus ut aliquam dapibus ultrices semper scelerisque, imperdiet dictumst netus pellentesque aenean nulla. Semper suspendisse sociosqu quam ornare venenatis ultrices luctus, cubilia hac blandit vestibulum massa senectus, elementum dictumst ut turpis auctor natoque..
        </p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Mi página web</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit aenean facilisi erat, tellus suscipit diam malesuada nisi sagittis pharetra fermentum integer, scelerisque interdum tincidunt sem penatibus imperdiet vehicula est urna. Euismod dis pretium sodales netus sagittis hendrerit non torquent, aenean pharetra enim turpis vel faucibus dignissim, lacus ut accumsan potenti mauris dui primis. Cubilia netus augue iaculis mi odio commodo praesent cras, quam aptent facilisis cum est enim aenean.

            Eget dignissim dapibus felis elementum accumsan rutrum natoque molestie taciti tortor, laoreet porttitor justo purus augue hac ac maecenas imperdiet massa, risus etiam consequat varius leo tincidunt nulla venenatis montes. Fusce vitae pretium lobortis quisque feugiat mus proin, tincidunt lacus ut aliquam dapibus ultrices semper scelerisque, imperdiet dictumst netus pellentesque aenean nulla. Semper suspendisse sociosqu quam ornare venenatis ultrices luctus, cubilia hac blandit vestibulum massa senectus, elementum dictumst ut turpis auctor natoque..
        </p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
    </div>
</div>